.half-height-hero-image, .full-height-hero-image
{
    position: relative;
    width: 100%;
    background: #000;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.half-height-hero-image, .full-height-hero-image
{
    height: 100%;
}

.hero-image-text-left, .hero-image-text-right,
.hero-image-text-top-left, .hero-image-text-bottom-right
{
    position: absolute;
    max-width: 50%;
    text-align: center;
    color: #FFF;
    padding: 7% 8%;

    h1
    {
        margin-top: 0px;
    }
}
.hero-image-text-right
{
    right: 0;
}
.hero-image-text-top-left
{
    padding: 15% 8%;
}
.hero-image-text-bottom-right
{
    padding: 18% 8%;
    bottom: 0;
    right: 0;
}

@include breakpoint(tablet)
{
  .half-height-hero-image
  {
    background-position: 65%;
  }
}