/**
 * Standard variables
 */
$color-brand-primary : #B5DB5A;
$color-text-dark: #3f5863;
$color-brand-secondary : #757775;
//$color-text-standard: #303030;
$color-text-standard: #58585B;
$color-light-grey: #F1F1F1;

$row-padding-desktop: 160px;
$row-padding-tablet: 60px;
$row-padding-mobile: 20px;